In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("TRADES_ROI.csv")

In [4]:
df.head()

              Port_IDs                                      Trade_History
0  3925368433214965504  [{'time': 1718899656000, 'symbol': 'SOLUSDT', ...
1  4002413037164645377  [{'time': 1718980078000, 'symbol': 'NEARUSDT',...
2  3923766029921022977  [{'time': 1718677164000, 'symbol': 'ETHUSDT', ...
3  3994879592543698688  [{'time': 1718678214000, 'symbol': 'ETHUSDT', ...
4  3926423286576838657  [{'time': 1718979615000, 'symbol': 'ETHUSDT', ...

In [5]:
df.shape

(150, 2)

In [6]:
df.columns.tolist()

['Port_IDs', 'Trade_History']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Port_IDs       150 non-null    int64
 1   Trade_History  149 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [8]:
df.describe()

           Port_IDs
count  1.500000e+02
mean   3.975655e+18
std    6.887470e+16
min    3.672755e+18
25%    3.943672e+18
50%    3.998616e+18
75%    4.029508e+18
max    4.041860e+18

In [10]:
df['Trade_History'].head()

0    [{'time': 1718899656000, 'symbol': 'SOLUSDT', ...
1    [{'time': 1718980078000, 'symbol': 'NEARUSDT',...
2    [{'time': 1718677164000, 'symbol': 'ETHUSDT', ...
3    [{'time': 1718678214000, 'symbol': 'ETHUSDT', ...
4    [{'time': 1718979615000, 'symbol': 'ETHUSDT', ...
Name: Trade_History, dtype: object

In [11]:
df.columns = df.columns.str.strip()

In [12]:
df.dropna(subset=['Port_IDs', 'Trade_History'], inplace=True)

In [13]:
df.isna().sum()

Port_IDs         0
Trade_History    0
dtype: int64

In [14]:
import numpy as np

In [15]:
np.isinf(df.select_dtypes(include=[np.number])).sum()

Port_IDs    0
dtype: int64

In [16]:
import ast

In [17]:
# Sample data with single quotes
data = "{'key': 'value'}"

In [18]:
# Safely evaluate the string
parsed_data = ast.literal_eval(data)
parsed_data

{'key': 'value'}

In [20]:
def parse_trade_history(trade_history_str):
    try:
        # Safely evaluate the string to a Python object
        return ast.literal_eval(trade_history_str)
    except (ValueError, SyntaxError):
        # Return an empty list if parsing fails
        return []

In [21]:
# Apply the function to create a new column with parsed data
df['Parsed_Trade_History'] = df['Trade_History'].apply(parse_trade_history)

In [22]:
# Explode the parsed trade history into separate rows
df_exploded = df.explode('Parsed_Trade_History').reset_index(drop=True)

In [23]:
# Drop rows where Parsed_Trade_History is empty
df_exploded = df_exploded[df_exploded['Parsed_Trade_History'].notna()]

In [24]:
# Normalize the nested dictionaries into columns
trade_details = pd.json_normalize(df_exploded['Parsed_Trade_History'])

In [25]:
# Combine with the Port_IDs
trade_details['Port_ID'] = df_exploded['Port_IDs']

In [27]:
# Display the resulting DataFrame
trade_details.head()

,time,symbol,side,price,fee,feeAsset,quantity,quantityAsset,realizedProfit,realizedProfitAsset,baseAsset,qty,positionSide,activeBuy,Port_ID
0,1718899656000,SOLUSDT,BUY,132.53700,-0.994027,USDT,1988.05500,USDT,0.0,USDT,SOL,15.0,LONG,True,3925368433214965504
1,1718899618000,DOGEUSDT,BUY,0.12182,-0.279796,USDT,1398.98088,USDT,0.0,USDT,DOGE,11484.0,LONG,False,3925368433214965504
2,1718899618000,DOGEUSDT,BUY,0.12182,-0.039494,USDT,197.47022,USDT,0.0,USDT,DOGE,1621.0,LONG,False,3925368433214965504
3,1718899616000,DOGEUSDT,BUY,0.12182,-0.008284,USDT,16.56752,USDT,0.0,USDT,DOGE,136.0,LONG,True,3925368433214965504
4,1718899616000,DOGEUSDT,BUY,0.12182,-0.046109,USDT,92.21774,USDT,0.0,USDT,DOGE,757.0,LONG,True,3925368433214965504

In [28]:
# Convert timestamp (assuming column is named 'time' and is in milliseconds)
if 'time' in trade_details.columns:
    trade_details['time'] = pd.to_datetime(trade_details['time'], unit='ms')

In [29]:
# Convert numeric columns to proper numeric types
for col in ['price', 'quantity', 'realizedProfit']:
    if col in trade_details.columns:
        trade_details[col] = pd.to_numeric(trade_details[col], errors='coerce')

In [30]:
# Optionally, drop rows with NaN values in critical numeric columns
trade_details.dropna(subset=['price', 'quantity', 'realizedProfit'], inplace=True)
trade_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211277 entries, 0 to 211276
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   time                 211277 non-null  datetime64[ns]
 1   symbol               211277 non-null  object
 2   side                 211277 non-null  object
 3   price                211277 non-null  float64
 4   fee                  211277 non-null  float64
 5   feeAsset             211277 non-null  object
 6   quantity             211277 non-null  float64
 7   quantityAsset        211277 non-null  object
 8   realizedProfit       211277 non-null  float64
 9   realizedProfitAsset  211277 non-null  object
 10  baseAsset            211277 non-null  object
 11  qty                  211277 non-null  float64
 12  positionSide         211277 non-null  object
 13  activeBuy            211277 non-null  bool
 14  Port_ID              211277 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(7)
memory usage: 22.8+ MB

In [31]:
# Define a function to classify trades
def classify_trade(row):
    if row['side'] == 'BUY' and row.get('positionSide', 'LONG') == 'LONG':
        return 'long_open'
    elif row['side'] == 'SELL' and row.get('positionSide', 'LONG') == 'LONG':
        return 'long_close'
    elif row['side'] == 'SELL' and row.get('positionSide', 'SHORT') == 'SHORT':
        return 'short_open'
    elif row['side'] == 'BUY' and row.get('positionSide', 'SHORT') == 'SHORT':
        return 'short_close'
    else:
        return 'unknown'

In [32]:
# Apply the function to classify trades
trade_details['PositionAction'] = trade_details.apply(classify_trade, axis=1)

In [33]:
# Display the classified trades
trade_details[['Port_ID', 'time', 'symbol', 'PositionAction']].head()

               Port_ID                time    symbol PositionAction
0  3925368433214965504 2024-06-20 16:07:36   SOLUSDT      long_open
1  3925368433214965504 2024-06-20 16:06:58  DOGEUSDT      long_open
2  3925368433214965504 2024-06-20 16:06:58  DOGEUSDT      long_open
3  3925368433214965504 2024-06-20 16:06:56  DOGEUSDT      long_open
4  3925368433214965504 2024-06-20 16:06:56  DOGEUSDT      long_open

In [34]:
# For instance, if you want to compute cumulative profit for each account:
trade_details.sort_values(by='time', inplace=True)
trade_details['cumulative_pnl'] = trade_details.groupby('Port_ID')['realizedProfit'].cumsum()

In [35]:
# Function to calculate metrics for each account
def calculate_metrics(df):
    metrics = {}

    # Total Realized Profit (PnL)
    total_realized_profit = df['realizedProfit'].sum()

    # Total Investment (sum of 'quantity' for BUY trades)
    total_investment = df[df['side'] == 'BUY']['quantity'].sum()

    # ROI
    roi = (total_realized_profit / total_investment) * 100 if total_investment != 0 else np.nan

    # Daily Returns
    df = df.sort_values(by='time')
    df['cumulative_pnl'] = df['realizedProfit'].cumsum()
    df['daily_return'] = df['cumulative_pnl'].pct_change().fillna(0)

    # Sharpe Ratio
    mean_daily_return = df['daily_return'].mean()
    std_daily_return = df['daily_return'].std()
    sharpe_ratio = (mean_daily_return / std_daily_return) * np.sqrt(90) if std_daily_return != 0 else np.nan

    # Maximum Drawdown (MDD)
    cumulative_pnl = df['cumulative_pnl']
    running_max = cumulative_pnl.cummax()
    drawdown = running_max - cumulative_pnl
    max_drawdown = drawdown.max()

    # Win Rate and Number of Winning Positions
    winning_positions = df[df['realizedProfit'] > 0].shape[0]
    total_positions = df.shape[0]
    win_rate = (winning_positions / total_positions) * 100 if total_positions != 0 else np.nan

    # Store metrics
    metrics['Total Realized Profit'] = total_realized_profit
    metrics['ROI (%)'] = roi
    metrics['Sharpe Ratio'] = sharpe_ratio
    metrics['Maximum Drawdown'] = max_drawdown
    metrics['Win Rate (%)'] = win_rate
    metrics['Winning Positions'] = winning_positions
    metrics['Total Positions'] = total_positions

    return pd.Series(metrics)

In [40]:
# Group by Port_ID and compute metrics
account_metrics = trade_details.groupby('Port_ID', group_keys=False).apply(calculate_metrics)

TypeError: DataFrame.groupby() got an unexpected keyword argument 'include_groups'

In [41]:
# Display the computed metrics
account_metrics.head()

,Total Realized Profit,ROI (%),Sharpe Ratio,Maximum Drawdown,Win Rate (%),Winning Positions,Total Positions
Port_ID,,,,,,,
3672754654734989568,566.597660,0.917776,NaN,80.777037,44.303797,210.0,474.0
3733192481840423936,2923.977200,0.503462,NaN,2743.120000,80.261248,553.0,689.0
3768170840939476993,243.668899,31.785505,NaN,0.000000,42.857143,6.0,14.0
3784403294629753856,2521.814305,0.667362,NaN,271.291981,30.231405,1829.0,6050.0
3786761687746711808,205.021400,0.626510,1.277948,123.460267,45.121951,37.0,82.0

In [42]:
# Example: Use ROI, Sharpe Ratio, and Total Realized Profit for ranking
ranking_metrics = account_metrics[['ROI (%)', 'Sharpe Ratio', 'Total Realized Profit']].copy()

In [43]:
# Normalize the metrics using min-max scaling
normalized = (ranking_metrics - ranking_metrics.min()) / (ranking_metrics.max() - ranking_metrics.min())

In [44]:
# Assign weights to each metric (adjust weights as needed)
weights = {
    'ROI (%)': 0.4,
    'Sharpe Ratio': 0.4,
    'Total Realized Profit': 0.2
}

In [45]:
# Compute a composite score
normalized['Composite Score'] = (normalized['ROI (%)'] * weights['ROI (%)'] +
                                 normalized['Sharpe Ratio'] * weights['Sharpe Ratio'] +
                                 normalized['Total Realized Profit'] * weights['Total Realized Profit'])

In [46]:
# Add the composite score back to the account_metrics DataFrame
account_metrics['Composite Score'] = normalized['Composite Score']

In [47]:
# Rank the accounts (higher composite score = better ranking)
account_metrics['Rank'] = account_metrics['Composite Score'].rank(ascending=False, method='min')

In [48]:
# Sort the DataFrame by rank
account_metrics.sort_values('Rank', inplace=True)

In [49]:
account_metrics.head()

,Total Realized Profit,ROI (%),Sharpe Ratio,Maximum Drawdown,Win Rate (%),Winning Positions,Total Positions,Composite Score,Rank
Port_ID,,,,,,,,,
3826087012661391104,532.656974,17.565918,2.916374,12.925980,58.333333,63.0,108.0,0.556110,1.0
3956048468100538880,1373.564890,2.691628,4.203312,0.000000,71.428571,20.0,28.0,0.470639,2.0
3891020560590657281,2856.300564,3.908882,2.394183,0.000000,64.759725,283.0,437.0,0.352158,3.0
4020204877254599680,71998.855953,0.633583,0.503778,21338.051188,32.942149,1993.0,6050.0,0.332068,4.0
3910983669796782848,6761.648048,1.430242,1.897102,201.723422,42.812500,274.0,640.0,0.292906,5.0

In [50]:
top_20_accounts = account_metrics.nsmallest(20, 'Rank')
top_20_accounts

,Total Realized Profit,ROI (%),Sharpe Ratio,Maximum Drawdown,Win Rate (%),Winning Positions,Total Positions,Composite Score,Rank
Port_ID,,,,,,,,,
3826087012661391104,532.656974,17.565918,2.916374,12.925980,58.333333,63.0,108.0,0.556110,1.0
3956048468100538880,1373.564890,2.691628,4.203312,0.000000,71.428571,20.0,28.0,0.470639,2.0
3891020560590657281,2856.300564,3.908882,2.394183,0.000000,64.759725,283.0,437.0,0.352158,3.0
4020204877254599680,71998.855953,0.633583,0.503778,21338.051188,32.942149,1993.0,6050.0,0.332068,4.0
3910983669796782848,6761.648048,1.430242,1.897102,201.723422,42.812500,274.0,640.0,0.292906,5.0
3952087967771302912,1032.605260,1.168682,1.989887,0.000000,33.720930,58.0,172.0,0.283101,6.0
3879821005658659073,4268.006561,4.431103,0.847295,1914.981866,33.142202,289.0,872.0,0.244742,7.0
3886752488982104320,7195.178325,1.803822,0.928009,38.208100,74.539632,931.0,1249.0,0.225121,8.0
3788465932399412480,13960.966457,1.653670,0.692921,1772.219440,44.607364,1369.0,3069.0,0.221475,9.0
3786761687746711808,205.021400,0.626510,1.277948,123.460267,45.121951,37.0,82.0,0.220428,10.0
3939318616482048768,9775.389110,1.938381,0.543013,87.003360,37.460317,118.0,315.0,0.203728,11.0
3953433416230728705,4924.761780,0.813591,0.827223,675.687000,20.872865,110.0,527.0,0.199780,12.0
4021243448368889856,1498.193758,0.171563,0.927311,490.493000,37.851240,2290.0,6050.0,0.191256,13.0
3930688517098515713,1947.244573,0.570944,0.836663,1193.907427,48.611111,140.0,288.0,0.190417,14.0
3865845304835489536,1406.066187,1.419805,0.697012,149.034581,51.133787,451.0,882.0,0.189106,15.0
3949329502284748801,425.965058,2.153117,0.494970,56.907783,18.750000,72.0,384.0,0.180588,16.0
3944088772635000577,7581.491983,1.390242,0.372691,97.203725,45.752928,2774.0,6063.0,0.178797,17.0
3987739404272887297,12464.606315,1.116695,0.248991,3386.656094,22.826446,1381.0,6050.0,0.177596,18.0
4017263283405469185,7141.366419,0.226347,0.276276,4788.433923,33.619835,2034.0,6050.0,0.155967,19.0
3878631538480067329,3921.233041,0.823607,0.254212,1039.842192,50.337958,1415.0,2811.0,0.154088,20.0

In [52]:
# Save the account metrics to a CSV file
account_metrics.to_csv("account_metrics.csv", index=True)

In [53]:
# Save the top 20 ranked accounts to a CSV file
top_20_accounts.to_csv("top_20_accounts.csv", index=True)